<div class="row justify-content-center">
    <div class="col-xs-12" *ngIf="!currentUser">
        <div class="row">
            <h3 [style]="'margin-bottom:10px;'">Register ya b :D</h3>
        </div>
        <hr/>
        <form>
            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="username">Enter a username:</label>
                    <input type="text" 
                    placeholder="Username" 
                    id="username"
                    class="form-control"
                    #username />
                </div>
                <div class="col-xs-6 form-group">
                    <label for="email">Enter an email:</label>
                    <input type="text" 
                    placeholder="Email" 
                    id="email"
                    class="form-control"
                    #email />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="pass1">Enter a password:</label>
                    <input type="password" 
                    placeholder="********" 
                    id="pass1"
                    class="form-control"
                    #pass1 />
                </div>
                <div class="col-xs-6 form-group">
                    <label for="pass2">Re-enter password:</label>
                    <input type="password" 
                    placeholder="********" 
                    id="pass2"
                    class="form-control"
                    #pass2 />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="fName">Enter a first name:</label>
                    <input type="text" 
                    placeholder="First name" 
                    id="fName"
                    class="form-control"
                    #fName />
                </div>
                <div class="col-xs-6 form-group">
                    <label for="lName">Enter a last name:</label>
                    <input type="text" 
                    placeholder="Last name" 
                    id="lName"
                    class="form-control"
                    #lName />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-5">
                    <button class="btn btn-primary"
                    type="submit" 
                    (click)="onSignUpFormSubmit()" >Register</button>
                    <!-- Yeah wow ^ Cool. So placement of the click event matters -->
                </div>
                <div class="col-xs-2 text-center">
                    <h4 [style]="'font-size: 18px;'">|</h4>
                </div>
                <div class="col-xs-5 text-right">
                    <a routerLink="/signup" routerLinkActive="active">Already have an account? Sign in hereeeee ;)</a>
                </div>
            </div>
        </form>
    </div>
</div>